    <li>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{address}}</p>
        <p>{{format_date date}}</p>
        {{#if Comments.length}}
            {{#each Comments as |comment|}}
            {{> comment comment}}
            {{/each}}
        {{/if}}
    </li>
