<form id="edit-event-form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="eventNameEdit" placeholder="Event Name">
        <label for="eventNameEdit">Event Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="eventAddressEdit" placeholder="Address">
        <label for="eventAddressEdit">Event Address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="eventDateEdit" placeholder="Date">
        <label for="eventDateEdit"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea id="eventDescriptionEdit" class="form-control" placeholder="Description"></textarea>
        <label for="eventDescriptionEdit">Event Description</label>
    </div>
</form>