    <section class="p-2">
        <div class="card text-center">
            <div class="card-header">
              Log In
            </div>
            <div class="card-body">
                <form class="login-form">
                    <div class="form-group p-2">
                      <label for="login-email">Email address</label>
                      <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group p-2">
                      <label for="login-password">Password</label>
                      <input type="password" class="form-control" id="login-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                  </form>
              <p class="card-text">Don't have an account? Click <a href="/signup">here</a> to create one.</p>
            </div>
          </div>
    </section>

    <script src="/js/login.js"></script>