    <section class="p-2">
        <div class="card text-center">
            <div class="card-header">
              Create an account
            </div>
            <div class="card-body">
                <form class="signup-form">
                    <div class="form-group p-2">
                        <label for="signup-firstName">First Name</label>
                        <input type="text" class="form-control" id="signup-firstName"  placeholder="Enter your first name">
                      </div>
                      <div class="form-group p-2">
                        <label for="signup-lastName">Last Name</label>
                        <input type="text" class="form-control" id="signup-lastName"  placeholder="Enter your last name">
                      </div>
                    <div class="form-group p-2">
                        <label for="signup-email">Email address</label>
                        <input type="email" class="form-control" id="signup-email"  placeholder="Enter email">
                    </div>
                    <div class="form-group p-2">
                      <label for="signup-password">Password</label>
                      <input type="password" class="form-control" id="signup-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Create account</button>
                  </form>
              <p class="card-text">Already have an account? Click <a href="/login">here</a> to Log In.</p>
            </div>
          </div>
    </section>